.container {
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
}

h1 {
    text-align: center;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, textarea {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 150px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}
button[type="submit"] {
  margin-top: 10px;
}
