.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 6rem;
  animation: bounce-top 2s ease-in-out infinite;
}

@keyframes bounce-top {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
}

p {
  font-size: 1.5rem;
  text-align: center;
}
